<div id="toolbar">
    <table class="form">
        <tr>
            <td>
                <a class="easyui-linkbutton" plain="true" onclick="onRemove()"><i class="fa fa-plus"></i> {$Think.lang.delete}</a>
            </td>
        </tr>
    </table>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'id',checkbox:true"></th>
        <th data-options="field:'text',width:50">名称</th>
        <th data-options="field:'home',width:120">访问路径</th>
        <th data-options="field:'path',width:180">绝对路径</th>
    </tr>
    </thead>
</table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:onMenu">
    <div data-options="name:'delete', iconCls:'icon-no'">{$Think.lang.delete}文件</div>
    <div data-options="name:'reload',iconCls:'icon-save'">{$Think.lang.reload}{$Think.lang.list}</div>
    <!--<div data-options="name:'add',iconCls:'fa fa-plus'">{$Think.lang.add}{$Think.lang.child}文件</div>-->
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var path = null;
    var rowId = 0;
    $(function(){
        easyui.treegrid({
            element:grid,
            idField:'id',
            treeField:'text',
            dnd: true,
            animate: true,
            onContextMenu: function(e, row){
                e.preventDefault();
                try {
                    $('#leftMenu').menu('show', {
                        left:e.pageX,
                        top:e.pageY
                    });
                }catch(e){}

            },
            onDblClickRow: function(node){
                onOpen(node);
            }
        });
    });

    function onOpen(node) {
        var opts = {
            href: '/'+node.home,
            width: 600
//            data: node,
//            handler: function(result){
//                grid.treegrid('reload');
//            }
        };
        easyui.dialog(opts);
    }

    function onMenu(item) {
        switch (item.name) {
            case 'reload':
                grid.treegrid('reload');
                break;
            case 'delete':
                var node = grid.treegrid('getSelected');
                if(node.path) {
                    easyui.doAjax('{:url("delete")}', {path: node.path}, function(){
                        grid.treegrid('reload');
                    });
                }
                break;
//            case 'add':
//                onOpen();
//                break;
        }

    }
    function onRemove(){
        var rows = grid.datagrid('getChecked');
        var items = [];
        for (var i in rows) {
            items.push(rows[i].path);
        }
        items = items.join('|');
        if (empty(items)) {
            easyui.alert('请选择需要删除的文件');
            return false;
        }
        easyui.doAjax('{:url("delete")}', {path: items}, function(){
            grid.treegrid('reload');
        });
    }

</script>