<form data-url="{:url('save')}" method="post" class="form">
    <fieldset class="fixed">
        <table>
            <tr>
                <th>目录名称：</th>
                <td><input name="text" class="easyui-textbox" size="25" data-options="required:true"></td>
            </tr>
            <input type="hidden" name="id" value="">
            <input type="hidden" name="path" value="">
            <input type="hidden" name="type" value="dir">
        </table>
    </fieldset>
    <script type="text/javascript">
        function setData(data){
           
        }

    </script>
</form>