<div id="toolbar">
    <table class="form">
        <tr>
            <td>
                <a class="easyui-linkbutton" plain="true" onclick="onRemove()"><i class="fa fa-plus"></i> {$Think.lang.delete}</a>
                <a class="easyui-linkbutton" plain="true" onclick="onAdd('file')"><i class="fa fa-plus"></i> {$Think.lang.add}{$Think.lang.child}{$Think.lang.file}</a>
                <a class="easyui-linkbutton" plain="true" onclick="onAdd('dir')"><i class="fa fa-plus"></i> {$Think.lang.add}{$Think.lang.child}{$Think.lang.dir}</a>
            </td>
        </tr>
    </table>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'id',checkbox:true"></th>
        <th data-options="field:'text',width:50">名称</th>
        <th data-options="field:'home',width:120">访问路径</th>
        <th data-options="field:'path',width:180">绝对路径</th>
    </tr>
    </thead>
</table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:onMenu">
    <div data-options="name:'delete', iconCls:'icon-no'">{$Think.lang.delete}{$Think.lang.file}</div>
    <div data-options="name:'reload',iconCls:'icon-save'">{$Think.lang.reload}{$Think.lang.list}</div>
    <div data-options="name:'addFile',iconCls:'fa fa-plus'">{$Think.lang.add}{$Think.lang.child}{$Think.lang.file}</div>
    <div data-options="name:'addDir',iconCls:'fa fa-plus'">{$Think.lang.add}{$Think.lang.child}{$Think.lang.dir}</div>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var path = null;
    var rowId = 0;
    $(function(){
        easyui.treegrid({
            element:grid,
            idField:'id',
            treeField:'text',
            dnd: true,
            animate: true,
            onContextMenu: function(e, row){
                e.preventDefault();
                try {
                    $('#leftMenu').menu('show', {
                        left:e.pageX,
                        top:e.pageY
                    });
                }catch(e){}

            },
            onDblClickRow: function(node){
                onOpen(node);
            }
        });
    });

    function onOpen(node,type) {
        if(empty(type)){
            var url =  http_build_query('{:url("form")}',{id:node.id});
        }else{
            var url =  http_build_query('{:url("form")}',{type:type});
        }
        var opts = {
            href: url,
            width: 650,
            data: node,
            modal:false,
            handler: function(result){
                grid.treegrid('reload');
            }
        };
        shadow.open(opts);
    }

    function onMenu(item) {
        switch (item.name) {
            case 'reload':
                grid.treegrid('reload');
                break;
            case 'delete':
                var node = grid.treegrid('getSelected');
                if(node.id) {
                    easyui.doAjax('{:url("delete")}', {id: node.id}, function(){
                        grid.treegrid('reload');
                    });
                }
                break;
            case 'addDir':
                var node = grid.treegrid('getSelected');
                onOpen({path:node.path},'dir');
                break;
            case 'addFile':
                var node = grid.treegrid('getSelected');
                onOpen({path:node.path},'file');
                break;
        }

    }
    function onRemove(){
        var rows = grid.datagrid('getChecked');
        var items = [];
        for (var i in rows) {
            items.push(rows[i].id);
        }
        items = items.join('|');
        if (empty(items)) {
            easyui.alert('请选择需要删除的文件');
            return false;
        }
        easyui.doAjax('{:url("delete")}', {path: items}, function(){
            grid.treegrid('reload');
        });
    }
    //添加子文件或目录
    function onAdd(type){
        var node = grid.treegrid('getSelected');
        if (empty(node)) {
            easyui.alert('请点击选择需要添加文件的父目录');
            return false;
        }
        onOpen({path:node.path},type);
    }

</script>